language: ruby

rvm: 2.2.0

addons:
  browserstack:
    username: "ashwingonsalves2"
    access_key:
      secure: "oBsu4EJyo19xd8/FxRPdGPP+NcTOwPETFkk1iO2qYgaRfqvYqog9m5jb90k1IrGi4JaKFiShyEclSwdaSVjDoMiz2j7C3Bd2pV1SvElsS4nWpglQtaVlPyRJOGM0zF7QqL3aDDbZ94qu4FLnzjvSF/ZqztAA/bA3NA2xNE5ulWVJ35dotXY5JfKEUzJeJ07FWaQ8EW9vQWRyL+NJu2T7ppSTXCfBw0rPo5R5H7O78kRqIke1l/ttakCHSgo7HOr5rH4NgImHl6qdVdZwzteLZXd9nsjXppYYECse9xCjhJoBRsRJlqLeGtd90oVFeuKhO1mTsW7qNT6sgJbG3gAa9Qn7G2Q5qskxrSfesXTC5xhQUJHgWxdEOxeIHOz/tapqEQTyNBo6r6V/jUlbHdJ4LUVREGbOd2p6mv1AwfHyOYaeQw1Ix3Jz466nqDeM5g2D8Jy9+/WABsnap1h1XoaaV3A0I+doBS955k4FfjsdscXwA8lh/pSJPZpNuVGu9IXT2wLRLKUH0/wWL9qUk46fUclp05rnThiGBcXxVNq5kj6uAkRGfiv3pwl7/a5tm03z05GqKq6oamtHbnY6OHLwuO0R8X/FyFhluAC6Jwua8vJ0PSfGg56j80szF9OooZUh+8IO2FuhPIGEQrJbDBOVEhbEgMhBHL36tNR+/V0lIeI="

env:
  global:
  - BS_AUTOMATE_PROJECT="$TRAVIS_REPO_SLUG"
  - BS_AUTOMATE_BUILD="Travis build No. $TRAVIS_BUILD_NUMBER for $TRAVIS_REPO_SLUG"

before_script:
  - gem install selenium-webdriver

script:
  - ruby sample_test.rb

